.info{
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
}
.info h1{
    margin: 5px 0;
}

.info img{
    margin-top: 10px;
    border-radius: 8px;
    width: 900px;
    max-width: 100%;
}
.info h3{
    margin-top: 14px;
}

.info span{
    margin: 8px 0;
    text-align: justify;
}
.buttons button{
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
    width: 200px;
}

.buttons button:hover{
    background-color: orange;
    color: white;
}

.buttons a{
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}

.buttons a:hover{
    background-color: orange;
    color: white;
}

