* {
  box-sizing: border-box;
  overflow-y: 2300px;
  padding: 0px;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.app {

  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}